/* General Reset */
body {
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color, #f4f4f4);
  color: var(--primary-color, #333);
}

/* Container */
.container {
  display: flex;
  min-height: 100vh;
}

/* Left Panel Navigation */
.left-panel {
  width: 250px;
  background-color: var(--secondary-color, #777);
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
}

.left-panel a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 200;
}

.left-panel a.active {
  font-weight: bold;
  color: #007bff;
  text-decoration: underline;
}

.left-panel a:hover {
  background-color: var(--primary-color, rgb(30, 43, 43));
}

/* Main Content */
.main-content {
  margin-left: 270px;
  padding: 40px;
  flex: 1;
  background-color: rgb(30, 43, 43);
  color: white;
}

/* Sections */
section {
  display: none;
}
h2,h3{
  color: skyblue;
}
a {
  color: skyblue;
  text-decoration: none;
}

section.active {
  display: block;
}

/* Profile Picture */
.profile-pic {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Social Icons */
.social-icons a {
  margin-right: 10px;
  height: 50px;
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px;
    text-align: center;
  }

  .left-panel a {
    display: inline-block;
    margin: 5px;
  }

  .main-content {
    margin-left: 0;
    padding: 20px;
  }

  .profile-pic {
    width: 100px;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}

/* Extra Small Screens */
@media screen and (max-width: 480px) {
  .left-panel {
    text-align: center;
    padding: 5px;
  }

  .left-panel a {
    font-size: 14px;
    padding: 5px;
  }

  .profile-pic {
    width: 80px;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  .main-content {
    padding: 10px;
  }
}
